@using MudBlazor.Services
<style>
    .mono14pa1 {
        font-family: 'Roboto Mono', monospace;
        font-size: 14px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid gray;
    }

    .mono12pa2 {
        font-family: 'Roboto Mono', monospace;
        font-size: 12px;
        padding-top: 10px;
        padding-left: 20px;
        padding-bottom: 10px;
    }

</style>
<MudContainer>    
    <MudGrid>
        <MudItem xs="12">
            <MudField Variant=Variant.Filled Label="G161 ФАСКА НА ОТВЕРСТИИ (МОДАЛЬНЫЙ ВЫЗОВ)" DisableUnderLine=true>
                <p class="mono14pa1">
                    G161 X_ Y_ T_ D_ Z_ C_ A_ I_ K_ S_ F_;<br/>
                    …<br/>
                    G67;<br/>
                </p>
                <p class="mono12pa2">
                    T_ - диаметр фрезы<br/>
                    D_ - диаметр отверстия<br/>
                    Z_ - координата поверхности отверстия<br/>
                    С_ - размер фаски<br/>
                    A_ - угол фаски<br/>
                    I_ - ограничивающий диаметр<br/>
                    K_ - ограничивающая глубина<br/>
                    S_ - частота вращения шпинделя<br/>
                    F_ - минутная подача<br/>
                </p>
                <p class=text14>Примечания</p>
                <p class="text12">
                    Данный вызов является модальным и цикл будет вызван при каждом следующем перемещении,
                    пока не будет отменен командой G67. Упрощенный вызов подходит для большинства случаев,
                    программа самостоятельно отступает 2.5мм от кромки и рассчитывает глубину для получения
                    необходимого размера фаски. Неуказанный угол рассчитывается как 45°. При указании
                    ограничений или угла отличного от 45° необходимо указывать диаметр инструмента.
                    Допускается не указывать обороты шпинделя только в том случае, если они заданы заранее. 
                    В строке цикла обязательно указывать положение первого отверстия.
                    При использовании фасочных головок с притуплением необходимо указать диаметр отверстия
                    меньше на ≈1мм.
                </p>
            </MudField>
        </MudItem>
        <MudItem xs="12">
            <MudField Variant=Variant.Filled Label="G165 РЕЗЬБОФРЕЗЕРОВАНИЕ" DisableUnderLine=true>
                <p class="mono14pa1">
                    G165 T_ D_ H_ Z_ E_ W_ R_ U_ A_ S_ F_;<br/>
                </p>
                <p class="mono12pa2">
                    T_ - диаметр фрезы<br/>
                    D_ - диаметр резьбы<br/>
                    H_ - шаг резьбы<br/>
                    Z_ - глубина резьбы<br/>
                    E_ - количество черновых проходов<br/>
                    W_ - съем на черновых проходах<br/>
                    R_ - припуск на чистовую обработку<br/>
                    U_ - координата выхода по оси Z<br/>
                    A_ - нарезка всех витков резьбы<br/>
                    S_ - частота вращения шпинделя<br/>
                    F_ - минутная подача<br/>
                </p>
                <p class=text14>Примечания</p>
                <p class="text12">
                    Допускается не указывать обороты шпинделя только в том случае, если они заданы заранее. 
                    При указании черновых проходов без указания съема будут произведены проходы по одному и тому же размеру.
                </p>
            </MudField>
        </MudItem>
        <MudItem xs="12">
            <MudField Variant=Variant.Filled Label="G166 РЕЗЬБОФРЕЗЕРОВАНИЕ (МОДАЛЬНЫЙ ВЫЗОВ)" DisableUnderLine=true>
                <p class="mono14pa1">
                    G166 X_ Y_ T_ D_ H_ Z_ E_ W_ R_ U_ A_ S_ F_;<br/>
                    …<br/>
                    G67;<br/>
                </p>
                <p class="mono12pa2">
                    T_ - диаметр фрезы<br/>
                    D_ - диаметр резьбы<br/>
                    H_ - шаг резьбы<br/>
                    Z_ - глубина резьбы<br/>
                    E_ - количество черновых проходов<br/>
                    W_ - съем на черновых проходах<br/>
                    R_ - припуск на чистовую обработку<br/>
                    U_ - координата выхода по оси Z<br/>
                    A_ - нарезка всех витков резьбы<br/>
                    S_ - частота вращения шпинделя<br/>
                    F_ - минутная подача<br/>
                </p>
                <p class=text14>Примечания</p>
                <p class="text12">
                    Данный вызов является модальным и цикл будет вызван при каждом следующем перемещении,
                    пока не будет отменен командой G67. Данный цикл представляет собой обертку над G165,
                    следовательно, поведение обработки каждого отверстия совпадает с циклом G165.
                </p>
            </MudField>
        </MudItem>
        <MudItem xs="12">
            <MudField Variant=Variant.Filled Label="G170 ОБРАБОТКА ОКРУЖНОСТИ ПО СПИРАЛИ В ШИРИНУ" DisableUnderLine=true>
                <p class="mono14pa1">
                    G170 T_ I_ D_ W_ Z_ U_ S_ F_;
                </p>
                <p class="mono12pa2">
                    T_ – диаметр фрезы<br/>
                    I_ – начальный диаметр<br/>
                    D_ – конечный диаметр<br/>
                    W_ – ширина резания<br/>
                    Z_ – глубина резания<br/>
                    U_ – координата выхода по оси Z<br/>
                    S_ – частота вращения шпинделя<br/>
                    F_ – минутная подача<br/>
                </p>
            </MudField>
        </MudItem>
        <MudItem xs="12">
            <MudField Variant=Variant.Filled Label="G180 ОБРАБОТКА ОКРУЖНОСТИ ПО СПИРАЛИ В ГЛУБИНУ" DisableUnderLine=true>
                <p class="mono14pa1">
                    G180 X_ Y_ A_ T_ D_ Q_ R_ Z_ C_ S_ F_ M_;
                </p>
                <p class="mono12pa2">
                    X_ Y_ – координаты окружности<br/>
                    A_ – 0 = отверстие, 1 = бобышка<br/>
                    T_ – диаметр фрезы<br/>
                    D_ – диаметр окружности<br/>
                    Q_ – съем по глубине<br/>
                    R_ – начальная точка по Z<br/>
                    Z_ – конечная точка по Z<br/>
                    C_ – 0 или без указания = не производить отвод<br/>
                    S_ – частота вращения шпинделя<br/>
                    F_ – минутная подача<br/>
                    M_ – М-код для охлаждения<br/>
                </p>
            </MudField>
        </MudItem>
        <MudItem xs="12" Class="mt-2" Style="text-align: right;">
            <MudText Typo="Typo.caption">Расширенное описание с примерами доступно <MudLink Typo="Typo.caption" Href="https://disk.yandex.ru/i/nxdydJC4Ag1OPA">по ссылке</MudLink>.</MudText>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    [Inject] IBreakpointService BreakpointListener { get; set; }

    private Breakpoint breakpoint;
}