<MudContainer>
    <MudText Typo="Typo.body2">
        Программирование обработки на современных станках с ЧПУ осуществляется на языке, который обычно называют языком ИСО (ISO) 7 бит, или языком G и М кодов. Коды с адресом G называемые подготовительными, а коды с адресом М - вспомогательными.
    </MudText>
    <MudSimpleTable Hover="true" Dense="true" Outlined=true Class="mx-0">
    <thead>
        <tr>
            @foreach (var h in headings)
            {
                <th>@h</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in rows)
        {
            <tr>
                <td>@row.code</td>
                <td>@row.description</td>
            </tr>
        }
    </tbody>
</MudSimpleTable>
</MudContainer>

@code {
    string[] headings = { "Код", "Описание" };
    (string code, string description)[] rows = {
        ("G00","Ускоренное перемещение - перемещение по прямой линии на ускоренной подаче"),
        ("G01","Линейная интерполяция – перемещение по прямой линии на указанной подаче"),
        ("G02","Круговая интерполяция по часовой стрелке – перемещение на подаче по дуге по часовой стрелке"),
        ("G03","Круговая интерполяция против часовой стрелки – перемещение на подаче по дуге против часовой стрелки"),
        ("G04","Задержка выполнения управляющией программы"),
    };
}
