<style>
    .ex{padding-right: 20px; font-family: 'Roboto Mono', monospace; font-size: x-small;}
</style>
<style>
    .desc{font-style: italic; font-size: x-small;}
</style>

<MudText Typo=Typo.body2>
    Команда G00 перемещает инструмент на позицию, указанную относительно системы координат заготовки на скорости ускоренного подвода. 
    Указание позиции допускается в <MudLink Typo=Typo.body2 @onclick="(()=>absMbox.Show())">абсолютных</MudLink> и <MudLink Typo=Typo.body2 @onclick="(()=>incMbox.Show())">относительных</MudLink> значениях. 
    Скорость ускоренного подвода для каждой оси задается в параметре системы ЧПУ №1420 и не может задаваться в адресе F.
</MudText>
<MudField Variant=Variant.Filled Label="Пример УП" DisableUnderLine=true>
    <table>
        <tbody>
            <tr>
                <td class=ex>G00 X_ Z_;</td>
                <td class=desc>ускоренное перемещение по координатам X_ Z_</td>
            </tr>
        </tbody>
    </table>
</MudField>

<MudMessageBox @ref="absMbox" Title="Абсолютное перемещение">
    <MessageContent>
        При программировании в абсолютных значениях указываются координаты относительно центра системы координат заготовки.
    </MessageContent>
</MudMessageBox>
<MudMessageBox @ref="incMbox" Title="Относительное перемещение">
    <MessageContent>
        При программировании в относительных/инкрементных значениях указываются координаты относительно текущего положения инструмента.
    </MessageContent>
</MudMessageBox>

@code 
{
    MudMessageBox absMbox { get; set; }
    MudMessageBox incMbox { get; set; }

}
