<style>
    .ex{padding-right: 20px; font-family: 'Roboto Mono', monospace; font-size: x-small;}
</style>
<style>
    .desc{font-style: italic; font-size: x-small;}
</style>

<MudText Typo=Typo.body2>@description</MudText>
<MudField Variant=Variant.Filled Label="Пример УП" DisableUnderLine=true>
    <table>
        <tbody>
            <tr>
                <td class=ex>G01 X_ F_;</td>
                <td class=desc>Движение инструмента на подаче F_ до координаты X_</td>
            </tr>
        </tbody>
    </table>
</MudField>


@code 
{
    string description = 
    "Команда G01 подает инструмент вдоль прямой линии по координатам указанным относительно центра системы координат заготовки. Указание позиции допускается в абсолютных и относительных значениях. " + 
    "Скорость подачи задается кодом F и действует до ввода нового значения, нет необходимости задавать её в каждом блоке. " +
    "Скорость подачи, заданная F-кодом, измеряется вдоль траектории движения инструмента, следовательно при движении по нескольким осям одновременно, " + 
    "скорость подачи для каждой оси пересчитывается для поддержания необходимой общей скорости подачи. " + 
    "Если F-код не задан, скорость подачи считается равной нулю. " +
    "";
}
