.bte_button:hover {
    background-color: var(--bcrl_button-hover-background-color);
    box-shadow: 0 0 2px var(--bcrl_primary-overlay-box-shadow-color);
}

.bte_button:focus {
    background-color: var(--bcrl_button-hover-background-color);
    box-shadow: 0 0 2px var(--bcrl_primary-overlay-box-shadow-color);
}

.bte_button:disabled {
    color: var(--bcrl_button-disabled-foreground-color);
    background-color: var(--bcrl_button-disabled-background-color);
}

.bte_button:disabled {
    color: var(--bcrl_button-disabled-foreground-color);
    background-color: var(--bcrl_button-disabled-background-color);
}

.bte_button:disabled:hover {
    color: var(--bcrl_button-disabled-foreground-color);
    background-color: var(--bcrl_button-disabled-hover-background-color);
    box-shadow: 0 0 2px var(--bcrl_primary-overlay-box-shadow-color);
}

.bte_button:disabled:focus {
    color: var(--bcrl_button-disabled-foreground-color);
    background-color: var(--bcrl_button-disabled-hover-background-color);
    box-shadow: 0 0 2px var(--bcrl_primary-overlay-box-shadow-color);
}

.bcrl_button {
    color: var(--bcrl_button-foreground-color);
}

.bcrl_button:focus {
    background-color: var(--bcrl_button-hover-background-color);
    box-shadow: 0 0 2px var(--bcrl_primary-overlay-box-shadow-color);
}

.bcrl_button.bcrl_active {
    background-color: var(--bcrl_toggled-on-background-color);
    box-shadow: 0 0 2px var(--bcrl_primary-overlay-box-shadow-color);
}

.bcrl_button.bcrl_active:hover {
    background-color: var(--bcrl_toggled-on-hover-background-color);
    box-shadow: 0 0 2px var(--bcrl_primary-overlay-box-shadow-color);
}

.bcrl_button.bcrl_active:focus {
    background-color: var(--bcrl_toggled-on-hover-background-color);
    box-shadow: 0 0 2px var(--bcrl_primary-overlay-box-shadow-color);
}

.bcrl_button.bcrl_button-close {
    background-color: var(--bcrl_danger-general-use-color);
    margin-left: 10px;
}

.bcrl_button.bcrl_button-close:hover {
    background-color: var(--bcrl_danger-hover-background-color);
    box-shadow: 0 0 2px var(--bcrl_primary-overlay-box-shadow-color);
}

.bcrl_button.bcrl_button-close:focus {
    background-color: var(--bcrl_danger-hover-background-color);
    box-shadow: 0 0 2px var(--bcrl_primary-overlay-box-shadow-color);
}

.bcrl_button {
    background-color: var(--bcrl_button-background-color);
    color: var(--bcrl_button-foreground-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bcrl_button:hover {
    background-color: var(--bcrl_button-hover-background-color);
}

.bcrl_button:focus {
    outline: solid var(--bcrl_menu-option-display-focus-outline-size) var(--bcrl_primary-emphasis-foreground-color);
    background-color: var(--bcrl_button-hover-background-color);
}

.bcrl_button.bcrl_active {
    background-color: var(--bcrl_active-button-background-color);
    color: var(--bcrl_active-button-primary-font-color);
}

.bcrl_button.bcrl_disabled {
    background-color: var(--bcrl_primary-disabled-background-color);
    color: var(--bcrl_primary-disabled-foreground-color);
}

.bcrl_button.bcrl_disabled:hover {
    background-color: var(--bcrl_primary-disabled-hover-background-color);
    color: var(--bcrl_primary-disabled-hover-foreground-color);
}

.bcrl_button.bcrl_disabled:focus {
    background-color: var(--bcrl_primary-disabled-hover-background-color);
    color: var(--bcrl_primary-disabled-hover-foreground-color);
}

.bcrl_tab:not(:first-of-type) {
    border-left: 2px solid var(--bcrl_primary-border-color);
}

em.bcrl_em {
    color: var(--bcrl_primary-emphasis-foreground-color);
    font-style: normal;
}

.bcrl_primary {
    background-color: var(--bcrl_primary-general-use-color);
}

.bcrl_secondary {
    background-color: var(--bcrl_secondary-general-use-color);
}

.bcrl_success {
    background-color: var(--bcrl_success-general-use-color);
}

.bcrl_info {
    background-color: var(--bcrl_info-general-use-color);
}

.bcrl_warning {
    background-color: var(--bcrl_warning-general-use-color);
}

.bcrl_danger {
    background-color: var(--bcrl_danger-general-use-color);
}

.bcrl_primary:hover {
    background-color: var(--bcrl_primary-hover-background-color);
}

.bcrl_secondary:hover {
    background-color: var(--bcrl_secondary-hover-background-color);
}

.bcrl_success:hover {
    background-color: var(--bcrl_success-hover-background-color);
}

.bcrl_info:hover {
    background-color: var(--bcrl_info-hover-background-color);
}

.bcrl_warning:hover {
    background-color: var(--bcrl_warning-hover-background-color);
}

.bcrl_danger:hover {
    background-color: var(--bcrl_danger-general-use-color);
}

.bcrl_tree-view-exception {
    color: var(--bcrl_error-foreground-color)
}

.bcrl_context-menu-content {
    z-index: var(--bcrl_dropdown-display-z-index);
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    color: var(--bcrl_primary-font-color);
}

.bcrl_context-menu {
    position: fixed;
    min-width: 15ch;
    min-height:6em;
}

.bcrl_unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.bcrl_set-selectable {
    /* 
        "bcrl_set-selectable" is for child elements of 
        a "bcrl_unselectable" where the child needs to
        re-enable selectable when the parent turned it off.
    */

    -webkit-touch-callout: default;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;
}

ul.bcrl_indent-child-content {
    padding-left: 20px;
}

.bcrl_resize-handle-north {
    cursor: n-resize;
}

.bcrl_resize-handle-east {
    cursor: e-resize;
}

.bcrl_resize-handle-south {
    cursor: s-resize;
}

.bcrl_resize-handle-west {
    cursor: w-resize;
}

.bcrl_resize-handle-north-east {
    cursor: ne-resize;
}

.bcrl_resize-handle-south-east {
    cursor: se-resize;
}

.bcrl_resize-handle-south-west {
    cursor: sw-resize;
}

.bcrl_resize-handle-north-west {
    cursor: nw-resize;
}

:root {
    /* Sizes Common */
    --bcrl_tabs-bar-height: 2.6rem;
    --bcrl_tabs-bar-margin-bottom: 10px;
    --bcrl_hr-height: 1.5px;
    --bcrl_hr-margin: 5px 0;
    --bcrl_hr-opacity: 0.7;
    --bcrl_tree-view-display-focus-outline-size: 10px;
    --bcrl_tree-view-display-focus-outline-offset: -5px;
    --bcrl_dialog-display-toolbar-height: 2rem;
    --bcrl_dialog-display-z-index: 10;
    --bcrl_dialog-display-box-shadow-blur-radius: 2px;
    --bcrl_dialog-display-button-entry-margin-right: 5px;
    --bcrl_dialog-display-button-entry-padding: 3px;
    --bcrl_dialog-display-toolbar-padding: 0 7px;
    --bcrl_dialog-display-body-padding: 0 7px;
    --bcrl_dropdown-display-z-index: 20;
    --bcrl_dropdown-display-default-background-box-shadow-blur-radius: 2px;
    --bcrl_drag-initializer-z-index: 30;
    --bcrl_menu-display-focus-outline-size: 2px;
    --bcrl_menu-option-display-padding-width: 10px;
    --bcrl_menu-option-display-focus-outline-size: 2px;
    --bcrl_notification-display-z-index: 15;
    --bcrl_notification-display-box-shadow-blur-radius: 2px;
    --bcrl_notification-display-toolbar-height: 2rem;
    --bcrl_notification-button-entry-margin-right: 5px;
    --bcrl_notification-button-entry-padding: 3px;
    --bcrl_notification-toolbar-padding: 0 3px;
    --bcrl_notification-body-padding: 0 3px;
}

/* Theme CSS */

:root {
    /* Colors (dark-theme) */

    --bcrl_primary-foreground-color: rgb(225, 225, 225);
    --bcrl_primary-background-color: #201c1c;
    --bcrl_secondary-foreground-color: rgb(225, 225, 225);
    --bcrl_secondary-background-color: #2d2d2d;
    --bcrl_tertiary-foreground-color: rgb(225, 225, 225);
    --bcrl_tertiary-background-color: #403c3c;
    --bcrl_primary-general-use-color: blue;
    --bcrl_secondary-general-use-color: gray;
    --bcrl_success-general-use-color: green;
    --bcrl_info-general-use-color: #58bebe;
    --bcrl_warning-general-use-color: yellow;
    --bcrl_secondary-hover-background-color: #aca2a2;
    --bcrl_success-hover-background-color: #86d686;
    --bcrl_info-hover-background-color: #65dede;
    --bcrl_warning-hover-background-color: #d6d698;
    --bcrl_outline-with-focus-color: #0646b4;
    --bcrl_outline-no-focus-color: #cec3c3;
    --bcrl_active-with-focus-background-color: #415d90;
    --bcrl_active-no-focus-background-color: #5c5757;
    --bcrl_primary-font-color: #d2d2d2;
    --bcrl_primary-border-color: #d7d7d7;
    --bcrl_dialog-toolbar-foreground-color: var(--bcrl_primary-foreground-color);
    --bcrl_dialog-toolbar-background-color: #071c57;
    --bcrl_dialog-display-background-color: #2d2f34;
    --bcrl_primary-box-shadow-color: #f5f5f5;
    --balc-primary-outline-color: #2d498b;
    --balc-primary-active-not-focused-background-color: #566060;
    --balc-primary-active-focused-background-color: #2d498b;
    --bcrl_dropdown-display-default-background-color: rgb(48, 51, 101);
    --bcrl_primary-emphasis-foreground-color: #4d8aea;
    --bcrl_primary-disabled-background-color: #5c5959;
    --bcrl_primary-disabled-foreground-color: #ba931e;
    --bcrl_primary-disabled-hover-background-color: #8f7015;
    --bcrl_primary-disabled-hover-foreground-color: #e6e6e6;
    --bcrl_notification-display-background-color: #2d2f34;
    --bcrl_notification-display-toolbar-background-color: #071c57;
    --bcrl_error-background-color: #5a0404;
    --bcrl_active-button-background-color: #753282;
    --bcrl_active-button-primary-font-color: var(--bcrl_primary-font-color);
    --bcrl_hr-primary-background-color: currentColor;
    --bcrl_error-foreground-color: #e55d62;
    --bcrl_outline-color: var(--balc-primary-outline-color);
    --bcrl_active-but-not-focused-background-color: var(--balc-primary-active-not-focused-background-color);
    --bcrl_context-menu-background-color: red;
    --bcrl_context-menu-foreground-color: green;
    --bcrl_resize-column-background-color: #d7d7d7;
    --bcrl_resize-row-background-color: #d7d7d7;
    --bcrl_icon-solution-font-color: #a074c4;
    --bcrl_icon-dot-net-solution-folder-font-color: #5c7feb;
    --bcrl_icon-project-font-color: #88d184;
    --bcrl_icon-razor-font-color: #c586c0;
    --bcrl_icon-folder-font-color: #d7ab69;
    --bcrl_icon-json-font-color: #cbc638;
    --bcrl_icon-c-sharp-class-font-color: #519aba;
    --bcrl_icon-cshtml-font-color: #c586c0;
    --bcrl_icon-css-font-color: #e36a6e;
    --bcrl_icon-js-font-color: #519aba;
    --bcrl_icon-ts-font-color: #37b38b;
    --bcrl_icon-start-without-debugging-font-color: #37b38b;
    --bcrl_toggled-on-background-color: #7f0eb8;
    --bcrl_toggled-on-hover-background-color: #bb56ac;
    --bcrl_danger-general-use-color: #b35252;
    --bcrl_danger-hover-background-color: #ef4949;
    --bcrl_button-foreground-color: #DCDCDC;
    --bcrl_button-background-color: #1e56a7;
    --bcrl_button-hover-background-color: #8e5a15;
    --bcrl_primary-overlay-box-shadow-color: #ffffff;
    --bcrl_button-disabled-foreground-color: #DCDCDC;
    --bcrl_button-disabled-background-color: #4a5a71;
    --bcrl_button-disabled-hover-background-color: #97a3b4;
    --bcrl_primary-hover-background-color: #2d568b;
    --bcrl_tree-view-expansion-chevron-color: currentColor;
    --bcrl_tree-view-children-border-color: currentColor;
}

.bcrl_visual-studio-light-theme-clone {
    /* Colors (light-theme) */

    --bcrl_primary-foreground-color: black;
    --bcrl_primary-background-color: rgb(253, 253, 253);
    --bcrl_secondary-foreground-color: black;
    --bcrl_secondary-background-color: rgb(250 250 244);
    --bcrl_tertiary-foreground-color: black;
    --bcrl_tertiary-background-color: #f0ebd2;
    --bcrl_primary-general-use-color: blue;
    --bcrl_secondary-general-use-color: gray;
    --bcrl_success-general-use-color: green;
    --bcrl_info-general-use-color: #58bebe;
    --bcrl_warning-general-use-color: yellow;
    --bcrl_primary-hover-background-color: #afd3f4;
    --bcrl_secondary-hover-background-color: #aca2a2;
    --bcrl_success-hover-background-color: #86d686;
    --bcrl_info-hover-background-color: #65dede;
    --bcrl_warning-hover-background-color: #d6d698;
    --bcrl_danger-hover-background-color: #d96b6b;
    --bcrl_outline-with-focus-color: #0064ff;
    --bcrl_outline-no-focus-color: #2a2727;
    --bcrl_active-with-focus-background-color: #ADD6FF;
    --bcrl_active-no-focus-background-color: #c8c8c8;
    --bcrl_primary-font-color: black;
    --bcrl_primary-border-color: black;
    --bcrl_dialog-toolbar-foreground-color: var(--bcrl_primary-foreground-color);
    --bcrl_dialog-toolbar-background-color: #aac1ee;
    --bcrl_dialog-display-background-color: rgb(252, 252, 245);
    --bcrl_primary-box-shadow-color: #000000;
    --balc-primary-outline-color: #ADD6FF;
    --bcrl_dropdown-display-default-background-color: #e6e6e6;
    --bcrl_primary-emphasis-foreground-color: #124df9;
    --bcrl_primary-disabled-background-color: #cfcfcf;
    --bcrl_primary-disabled-foreground-color: #25180c;
    --bcrl_primary-disabled-hover-background-color: var(--bcrl_primary-disabled-foreground-color);
    --bcrl_primary-disabled-hover-foreground-color: var(--bcrl_primary-disabled-background-color);
    --bcrl_notification-display-background-color: rgb(252, 252, 245);
    --bcrl_notification-display-toolbar-background-color: rgb(192, 214, 247);
    --bcrl_error-background-color: rgb(253, 172, 183);
    --bcrl_active-button-background-color: #d889e8;
    --bcrl_active-button-primary-font-color: var(--bcrl_primary-font-color);
    --bcrl_hr-primary-background-color: currentColor;
    --bcrl_error-foreground-color: red;
    --bcrl_outline-color: #33bcec;
    --bcrl_active-but-not-focused-background-color: #7f8e93;
    --bcrl_context-menu-background-color: red;
    --bcrl_context-menu-foreground-color: green;
    --bcrl_resize-column-background-color: black;
    --bcrl_resize-row-background-color: black;
    --bcrl_icon-solution-font-color: #8f38d6;
    --bcrl_icon-dot-net-solution-folder-font-color: #252ff1;
    --bcrl_icon-project-font-color: #23d519;
    --bcrl_icon-razor-font-color: #c509db;
    --bcrl_icon-folder-font-color: #a46d00;
    --bcrl_icon-json-font-color: #beb106;
    --bcrl_icon-c-sharp-class-font-color: #2B91AF;
    --bcrl_icon-cshtml-font-color: #c509db;
    --bcrl_icon-css-font-color: #de4b50;
    --bcrl_icon-js-font-color: #519aba;
    --bcrl_icon-ts-font-color: #37b38b;
    --bcrl_icon-start-without-debugging-font-color: #37b38b;
    --bcrl_toggled-on-background-color: #c4eaff;
    --bcrl_toggled-on-hover-background-color: #67e4ff;
    --bcrl_danger-general-use-color: #ff8484;
    --bcrl_button-foreground-color: rgb(240, 240, 240);
    --bcrl_button-background-color: #0b30c7;
    --bcrl_button-hover-background-color: #c98800;
    --bcrl_primary-overlay-box-shadow-color: #000000;
    --bcrl_button-disabled-foreground-color: #000000;
    --bcrl_button-disabled-background-color: #d7dde6;
    --bcrl_button-disabled-hover-background-color: #eceff7;
    --bcrl_tree-view-expansion-chevron-color: currentColor;
    --bcrl_tree-view-children-border-color: currentColor;
}
